Data Extraction from Kaggle

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\abhis\anaconda3\lib\site-packages (1.6.14)
Requirement already satisfied: six>=1.10 in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (2.0.7)
Requirement already satisfied: bleach in c:\users\abhis\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\abhis\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\abhis\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\abhis\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\abhis\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\abhis\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\abhis\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [2]:
import kaggle

In [3]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
import zipfile

In [5]:
zpfile = zipfile.ZipFile('orders.csv.zip')
zpfile.extractall()
zpfile.close()

In [6]:
import pandas as pd

In [7]:
df_order = pd.read_csv('orders.csv')
df_order.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

Data Preparation and Transformation

In [8]:
len(df_order)

9994

In [9]:
df_order.columns = df_order.columns.str.lower()

In [10]:
df_order.columns = df_order.columns.str.replace(' ','_')

In [11]:
df_order.head(10)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [12]:
df_order['ship_mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [13]:
df_order = df_order[(df_order['ship_mode'] != 'Not Available') & (df_order['ship_mode'] != 'unknown')]

In [14]:
df_order['ship_mode'].unique()

array(['Second Class', 'Standard Class', 'First Class', nan, 'Same Day'],
      dtype=object)

In [15]:
df_order.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [16]:
df_order['discount'] = df_order['list_price']*df_order['discount_percent']*0.01

In [17]:
df_order.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0

In [18]:
df_order['sales_price'] = df_order['list_price'] - df_order['discount']

In [19]:
df_order.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0

In [22]:
df_order['profit'] = df_order['sales_price'] - df_order['cost_price']

In [23]:
df_order.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [24]:
df_order.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
sales_price         float64
profit              float64
dtype: object

In [25]:
df_order['order_date'] = pd.to_datetime(df_order['order_date'], format = '%Y-%m-%d')

In [26]:
df_order.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [27]:
df_order.drop(columns = ['cost_price', 'list_price', 'discount_percent'], inplace = True)

In [28]:
df_order.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

Data Load in SQL Database

In [32]:
import sqlalchemy as sa

In [33]:
engine = sa.create_engine('mssql://AbhiPC\MSSQLSERVER01/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
cn = engine.connect()

In [34]:
df_order.to_sql('df_order', con=cn , index=False, if_exists = 'replace')

33

Data Insights and Business Question Answer

#Questions

1) Find top 10 highest reveue generating products
2) Find top 5 highest selling products in each region
3) Find month over month growth comparison for 2022 and 2023 sales eg : jan 2022 vs jan 2023
4) For each category which month had highest sales
5) Which sub category had highest growth by profit in 2023 compare to 2022

In [65]:
df_order.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sales_price,profit,month,year,mon_year
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8,3,2023,202303
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1,8,2023,202308
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5,1,2023,202301
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8,6,2022,202206
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0,7,2022,202207

First Answer

In [66]:
prod_rev = df_order.groupby(df_order['product_id'])['sales_price'].sum()

In [67]:
prod_rev.sort_values(ascending = False).head(10)

product_id
TEC-CO-10004722    59514.0
OFF-BI-10003527    26525.3
TEC-MA-10002412    21734.4
FUR-CH-10002024    21096.2
OFF-BI-10001359    19090.2
OFF-BI-10000545    18249.0
TEC-CO-10001449    18151.2
TEC-MA-10001127    17906.4
OFF-BI-10004995    17354.8
OFF-SU-10000151    16325.8
Name: sales_price, dtype: float64

Second Answer

In [68]:
cte = df_order.groupby(['product_id', 'region']).agg(selling_prod_region=('sales_price', 'sum')).reset_index()

In [69]:
cte['rn'] = cte.groupby('region')['selling_prod_region'].transform(lambda x: x.rank(method='min', ascending=False))

In [70]:
result_df = cte[cte['rn'] <= 5]

In [71]:
result_df.sort_values(by=['region', 'rn'], ascending=[True, True])

           product_id   region  selling_prod_region   rn
4700  TEC-CO-10004722  Central              16975.0  1.0
4719  TEC-MA-10000822  Central              13770.0  2.0
1971  OFF-BI-10001120  Central              11056.5  3.0
1890  OFF-BI-10000545  Central              10132.7  4.0
2498  OFF-BI-10004995  Central               8416.1  5.0
4701  TEC-CO-10004722     East              29099.0  1.0
4727  TEC-MA-10001047     East              13767.0  2.0
123   FUR-BO-10004834     East              11274.1  3.0
2000  OFF-BI-10001359     East               8463.6  4.0
4671  TEC-CO-10001449     East               8316.0  5.0
4745  TEC-MA-10002412    South              21734.4  1.0
4729  TEC-MA-10001127    South              11116.4  2.0
2001  OFF-BI-10001359    South               8053.2  3.0
4780  TEC-MA-10004125    South               7840.0  4.0
2280  OFF-BI-10003527    South               7391.4  5.0
4702  TEC-CO-10004722     West              13440.0  1.0
4150  OFF-SU-10000151     West              12592.3  2.0
189   FUR-CH-10001215     West               9604.0  3.0
2281  OFF-BI-10003527     West               7804.8  4.0
4580  TEC-AC-10003832     West               7722.7  5.0

Third Answer

In [72]:
df_order['month'] = df_order['order_date'].dt.month

In [73]:
df_order['year'] = df_order['order_date'].dt.year

In [74]:
res_df1 = df_order[df_order['year'] == 2022]

In [75]:
res_df2 = df_order[df_order['year'] == 2023]

In [76]:
res_df1 = res_df1.groupby(['month']).agg(sales_2022 = ('sales_price', 'sum')).reset_index()

In [77]:
res_df2 = res_df2.groupby(['month']).agg(sales_2023 = ('sales_price', 'sum')).reset_index()

In [78]:
result = pd.merge(res_df1, res_df2, on = 'month', how = 'inner')

In [79]:
result

    month  sales_2022  sales_2023
0       1     94712.5     88632.6
1       2     90091.0    128124.2
2       3     80057.5     80834.0
3       4     95451.6    111568.6
4       5     79448.3     86447.9
5       6     94170.5     68976.5
6       7     78652.2     90563.8
7       8    104808.0     87733.6
8       9     79142.2     76658.6
9      10    118912.7    121061.5
10     11     84225.3     75366.3
11     12     95869.9    101673.4

Fourth Answer

In [80]:
df_order['month'] = df_order['order_date'].dt.month

In [81]:
df_order['year'] = df_order['order_date'].dt.year

In [82]:
condition = df_order['month'] <= 9
df_order['mon_year'] = df_order['year'].astype(str) + condition.map({True: '0', False: ''}) + df_order['month'].astype(str)

In [83]:
cte = df_order.groupby(['category','mon_year']).agg(sales = ('sales_price', 'sum')).reset_index()

In [84]:
cte = cte.groupby(['category']).agg(max_sales = ('sales', 'max')).reset_index()

In [85]:
cte

          category  max_sales
0        Furniture    42888.9
1  Office Supplies    44118.5
2       Technology    53000.1

Fifth Answer

In [86]:
df_order['year'] = df_order['order_date'].dt.year

In [87]:
cte1 = df_order[df_order['year'] == 2022]

In [88]:
cte2 = df_order[df_order['year'] == 2023]

In [89]:
cte1 = cte1.groupby(['sub_category']).agg(sales2022 = ('sales_price', 'sum')).reset_index()

In [90]:
cte2 = cte2.groupby(['sub_category']).agg(sales2023 = ('sales_price', 'sum')).reset_index()

In [91]:
result = pd.merge(cte1, cte2, on = 'sub_category', how = 'inner')

In [92]:
result['profit'] = result['sales2023'] - result['sales2022']

In [93]:
final = result.sort_values(by = 'profit', ascending = False).head(1)

In [64]:
final

   sub_category  sales2022  sales2023   profit
11     Machines    73723.2   109178.5  35455.3